*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    height: 15vh;
    width: 100vw;
    position: fixed;
    color: white;
    opacity: 0.7;
}
#main1::before{
    content: "";
    background-image: url("pexels-mike-b-145685.jpg");
    height: 40vh;
    width: 100vw;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    background-size: 100vw 40vh;
}
#main1{
    padding-top: 120px;
    
}